.footer {
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    box-sizing: border-box;

    .footer__title {
        @include styleText(14px, 700, 22px, white, capitalize);
        margin-bottom: 8px;
    }

    .footer__description {

        @include styleText(12px, 400, 20px, #B9B9B9, none);
        text-align: center;
        margin-bottom: 26px;
    }

    .footer__links {
        display: flex;
        gap: 6px;
        margin-bottom: 25px;

        .footer__links__item {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30px;
            border: 2px solid black;
            box-sizing: border-box;
        }

        .footer__links--wifi {
            border-color: #F8902E;
        }
        .footer__links--facebook {
            border-color: #39599F;
        }
        .footer__links--twitter {
            border-color: #45B0E3;
        }
        .footer__links--dribble {
            border-color: #D97AB0;
        }
        .footer__links--pinterest {
            border-color: #CC212C;
        }
    }

    .footer__address {
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer__address__item {
            display: inline-block;
            @include styleText(14px, 400, 24px, #B9B9B9, none);
        }
    }
}


@media screen and (min-width:768px) {
    .footer {
        padding: 55px 80px;

        .footer__title {
            @include styleText(16px, 700, 22px, white, capitalize);
            margin-bottom: 22px;
        }

        .footer__description {
            @include styleText(16px, 400, 26px, #B9B9B9, none);
            width: 684px;
            text-align: center;
            margin-bottom: 37px;
        }

        .footer__links {
            margin-bottom: 34px;
        }

        .footer__address {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .footer__address__item {
                @include styleText(16px, 400, 26px, #B9B9B9, none);
            }
        }
    }
}


@media screen and (min-width:1200px) {
    .footer {
        padding: 68px auto 70px;

        .footer__title {
            @include styleText(16px, 700, 22px, white, capitalize);
            margin-bottom: 22px;
        }

        .footer__description {
            @include styleText(16px, 400, 26px, #B9B9B9, none);
            width: 684px;
            text-align: center;
            margin-bottom: 37px;
        }

        .footer__links {
            margin-bottom: 34px;
        }

        .footer__address {
            display: flex;
            flex-direction: row;
            gap: 10px;

            .footer__address__item {
                @include styleText(16px, 400, 26px, #B9B9B9, none);
            }
        }
    }   
}