<footer class="footer">
    <h2 class="footer__title">- get in touch with us -</h2>

    <p class="footer__description">
        Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio.
    </p>

    <div class="footer__links">
        <a href="#" class="footer__links__item footer__links--wifi">
            <img src="images/social/icon-wifi.png" alt="icon wifi">
        </a>
        <a href="#" class="footer__links__item footer__links--facebook">
            <img src="images/social/icon-facebook.png" alt="icon facebook">
        </a>
        <a href="#" class="footer__links__item footer__links--twitter">
            <img src="images/social/icon-twitter.png" alt="icon twitter">
        </a>
        <a href="#" class="footer__links__item footer__links--dribble">
            <img src="images/social/icon-dribble.png" alt="icon dribble">
        </a>
        <a href="#" class="footer__links__item footer__links--pinterest">
            <img src="images/social/icon-pinterest.png" alt="icon pinterest">
        </a>
    </div>

    <div class="footer__address">
        <p class="footer__address__item">Moonshine St. 14-05 Light City<p>
        <p class="footer__address__item">T. +00 (123) 456 78 90<p>
        <p class="footer__address__item">first.last@email.com<p>
    </div>
</footer>