<section class="posts">
    <h2 class="posts__title">- our Recent posts</h2>

    <div class="posts__collection">
        <div class="posts__collection__item">
            <img class="posts__collection__item__image" src="images/posts/post_01.png" alt="first post">

            <div class="posts__collection__item__text">
                <h3 class="posts__collection__item__text__h3">Aenean Adipiscing Etiam Vestibulum</h3>
                <span class="posts__collection__item__text__author">Photography, Journal   /   9 Comments</span>
                <p class="posts__collection__item__text__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </div>
        <div class="posts__collection__item">
            <img class="posts__collection__item__image" src="images/posts/post_02.png" alt="second post">

            <div class="posts__collection__item__text">
                <h3 class="posts__collection__item__text__h3">Aenean Adipiscing Etiam Vestibulum</h3>
                <span class="posts__collection__item__text__author">Photography, Journal   /   9 Comments</span>
                <p class="posts__collection__item__text__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </div>
        <div class="posts__collection__item">
            <img class="posts__collection__item__image" src="images/posts/post_03.png" alt="third post">

            <div class="posts__collection__item__text">
                <h3 class="posts__collection__item__text__h3">Aenean Adipiscing Etiam Vestibulum</h3>
                <span class="posts__collection__item__text__author">Photography, Journal   /   9 Comments</span>
                <p class="posts__collection__item__text__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </div>
        <div class="posts__collection__item">
            <img class="posts__collection__item__image" src="images/posts/post_04.png" alt="fouth post">

            <div class="posts__collection__item__text">
                <h3 class="posts__collection__item__text__h3">Aenean Adipiscing Etiam Vestibulum</h3>
                <span class="posts__collection__item__text__author">Photography, Journal   /   9 Comments</span>
                <p class="posts__collection__item__text__description">Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
            </div>
        </div>
    </div>
</section>