.hero {
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
    margin-bottom: 42px;
    .herro__img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width:768px) {
    .hero {
        padding: 0 80px;
        margin-bottom: 59px;
    }
}

@media screen and (min-width:1200px) {
    .hero {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 69px;
        .herro__img {
            width: 1170px;
        }
    }
}