.posts {
    padding: 0 25px;
    margin-bottom: 43px;
    box-sizing: border-box;

    .posts__title {
        @include styleText(14px, 700, 22px, $dark-color, capitalize);
        margin-bottom: 24px;
    }

    .posts__collection {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .posts__collection__item {
            display: flex;
            flex-direction: column;
            gap: 11px;
            &:nth-child(4) {
                display: none;
            }

            .posts__collection__item__image {
                width: 160px;
                height: auto;
            }

            .posts__collection__item__text {
                display: flex;
                flex-direction: column;

                .posts__collection__item__text__h3 {
                    font-family: 'Roboto', sans-serif;
                    @include styleText(14px, 700, 30px, $dark-color, capitalize);
                    margin: -1px;
                }
                .posts__collection__item__text__author {
                    @include styleText(11px, 400, 20px, $gray-color, capitalize);
                }
                .posts__collection__item__text__description {
                    @include styleText(14px, 400, 26px, #5C5C5C, none);
                    display: none;
                }
            }
        }
    }
}


@media screen and (min-width:768px) {
    .posts {
        padding: 0 80px;
        margin-bottom: 59px;

        .posts__title {
            @include styleText(16px, 700, 22px, $dark-color, capitalize);
        }

        .posts__collection {
            .posts__collection__item {
                display: flex;
                flex-direction: row;
                gap: 20px;
                &:nth-child(4) {
                    display: flex;
                }

                .posts__collection__item__text {
                    .posts__collection__item__text__h3 {
                        @include styleText(16px, 700, 30px, $dark-color, capitalize);
                        margin: -1px;
                    }
                    .posts__collection__item__text__author {
                        @include styleText(12px, 400, 20px, $gray-color, capitalize);
                        margin-bottom: 13px;
                    }
                    .posts__collection__item__text__description {
                        display: block;
                    }
                }
            }
        }

    }
}

@media screen and (min-width:1200px) {
    .posts {
        width: 1170px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 69px;

        .posts__title {
            @include styleText(16px, 700, 22px, $dark-color, capitalize);
            margin-bottom: 24px;
        }

        .posts__collection {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 0;
            grid-row-gap: 32px;
            grid-column-gap: 55px;
        }

    }
}